.comics-thumb {
    width: 100%;
    height: 260px;
    object-fit: cover;

}

.comics-card {
    border: none;
    background-color: #1c1c1c;
}

.comics-title {
    font-size: 0.85rem;
    text-transform: uppercase;
}